%article.entry
    %h1
        = entry[:title]
        =link_to "Edit", edit_entry_path(entry[:id])
    .occurred_at= entry[:occurred_at] ? entry[:occurred_at].strftime("%A, %e %B %Y") : "Some time ago"
    .description= entry[:description]

    %section.reflection
        %h1 Personal Reflection
        .reflection= entry[:reflection]