%section.login
    %h2 Login

    =form_tag login_path do
        =label_tag :email
        =text_field_tag :email, "", placeholder: "e.g: joe.bloggs@example.com"
        
        =label_tag :password
        =password_field_tag :password
        
        =submit_tag "Login"