%section#register.register
    %h2 Register
  
    =form_tag user_path do
        =label_tag :first_name
        =text_field_tag :first_name, "", placeholder: "e.g.: Joe"
        
        =label_tag :last_name
        =text_field_tag :last_name, "", placeholder: "e.g.: Bloggs"
        
        =label_tag :email
        =text_field_tag :email, "", placeholder: "e.g.: joe.bloggs@example.com"
        
        =label_tag :password
        =password_field_tag :password
        
        =label_tag :password_confirmation
        =password_field_tag :password_confirmation
        
        =submit_tag "Register"
        
