-content_for :headerinfo do
    %h1 Welcome to oPortfolio.
    %p Oportfolio is an open API which allows trainee doctors to record learning events online, offline and on the go.

-content_for :content do
    =render "session/login"
    =render "session/register"