-content_for :headerinfo do
    %h2 Welcome to oPortfolio.
    %p We believe that the portfolios we have to use are convoluted and out of touch.
    %p This is an open portfolio that anyone can add to

-content_for :content do
    =render "session/login"
    =render "session/register"