<header>
    <section class="heading">
        <h1>oPortfolio</h1>
    </section>
</header>

<article>
	<!-- Ember JS output goes here -->
</article>

<footer>
    <section class="footer">
    	An <a href="http://nhshackday.com/">NHS Hack Day</a> production.
    </section>
</footer>
