/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

// Config
@import "settings";

// Libraries
@import "bootstrap/bootstrap";
@import "bourbon";
@import "neat";

@import "base";
@import "normalize";

// At 480 pixels reduce columns
@include media(480px 6);

body {
    background-color: $background;
    font-family:"proxima-nova";
    font-size:15px;
    line-height:19px;
    font-weight:100;
    color:#333;
    min-width: 320px;
    
    &>header .central, &>article, &>footer .central {
        @include outer-container;
        padding: $gutter * 2;
    }
    
    &>header {
        background-color: white;
        box-shadow: 0 3px 3px rgba($blue-dark, 0.7);
        position: relative;
        
        .logo {
            float: left;
            margin: $gutter $gutter $gutter 0;
        }
        
        .intro {
            margin-left: 154px;
        }
        
        section p {
            max-width: 35em;
            margin-top: 10px;
        }
        
        h1 {
            margin-top:20px;
            margin-bottom:0px;
            font-size:35px;
        }
        h2 {
            margin:0px;
            font-size:25px;
        }
    }
    &>footer {
        position: relative;
        box-shadow: 0 -3px 3px rgba($blue-dark, 0.1);
    }
    &>article {
        background-color: white;
    }
    
    input[type="file"] {
        float:left;
    }
    
    #flash {
        #notice, #error {
            padding:16px;
        }
        #notice {
            background:green;
        }
        #error {
            background:red;
        }
    }

    .login, .register {
        @include span-columns(6);
    }
    
    .login {
        padding-right: $gutter;
    }
}

@media all and (max-width: 540px) {
    body .login, body .register {
        @include span-columns(12);
    }
    body .login {
        padding-right: 0;
        padding-bottom: $gutter;
        border-bottom: 1px solid $background;
    }
    
    body>header .intro {
        margin-left: 0;
    }
    
    body>header img.logo {
        float: none;
    }
}
