/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

// Config
@import "settings";

// Libraries
@import "bourbon";
@import "neat";


// CSS
@import "normalize";
@import "base";

body {
    
    font-family:"proxima-nova";
    font-size:15px;
    line-height:19px;
    font-weight:100;
    
    &>header>section, &>footer>section, &>article,
    &>div>header>section, &>div>footer>section, &>div>article, &>#flash>section {
        @include outer-container;
    }

    &>header, &>div>header {
        background-color: $blue-two;

        &>section {
            padding: $gutter 0px;
        }
    }
    
    #flash {
        #notice, #error {
            padding:16px;
        }
        #notice {
            background:green;
        }
        #error {
            background:red;
        }
    }

    &>footer, &>div>footer {
        background-color: $blue-one;

        &>section {
            padding: $gutter;
        }
    }

    margin: auto;
    background-color: white;

    .login, .register {
        padding: $gutter;
        @include span-columns(6);
    }
    
    .entry {
        font-size:18px;
        h3 {
            a {
                font-size:14px;
            }
        }
    }
    
    input[type="file"] {
        float:left;
    }
}
