!!!
%html
    %head
        %title oPortfolio
        =stylesheet_link_tag    "application", :media => "all"
        =javascript_include_tag "application"
        =csrf_meta_tags
        
        %meta{name:"viewport", content:"width=device-width"}
        
        %script{type:"text/javascript", src:"//use.typekit.net/dwd8tis.js"}
        :javascript
            try{Typekit.load();}catch(e){}
    
    %body
    
        %header
            %section.central
                
                =link_to image_tag("logo.png", alt: "oPortfolio", class: "logo"), "/"
                
                %section.intro
                    = yield(:headerinfo)
    
        %article
          
            %aside.flash
                -if flash[:error]
                    .error= flash[:error]
                -if flash[:notice]
                    .notice= flash[:notice]
                    
            = yield(:content)

    %footer
        %section.central
            =link_to image_tag("nhshackday-logo-withlove.png", alt: "An NHS Hack Day production", title: "An NHS Hack Day production", class: "logo"), "http://nhshackday.com/"
    
    =link_to image_tag("https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png", alt: "Fork me on GitHub", style: "position: absolute; top: 0; right: 0; border: 0;"), "https://github.com/doctorsonrails/", class: "forkme"
