!!!
%html
    %head
        %title oPortfolio
        =stylesheet_link_tag    "application", :media => "all"
        =javascript_include_tag "application"
        =csrf_meta_tags
        
        %script{type:"text/javascript", src:"//use.typekit.net/dwd8tis.js"}
        :javascript
            try{Typekit.load();}catch(e){}
    
    %body
    
    #flash
        %section
            -if flash[:error]
                #error= flash[:error]
            -if flash[:notice]
                #notice= flash[:notice]
    
    = yield(:content)

    %footer
        %section.footer
            An <a href="http://nhshackday.com/">NHS Hack Day</a> production.