!!!
%html
    %head
        %title oPortfolio
        =stylesheet_link_tag    "application", :media => "all"
        =javascript_include_tag "application"
        =csrf_meta_tags
        
        %script{type:"text/javascript", src:"//use.typekit.net/dwd8tis.js"}
        :javascript
            try{Typekit.load();}catch(e){}
    
    %body
    
        %header
            %section.central
                =image_tag("logo.png", alt: "oPortfolio",id: "logo")
                
                %section.intro
                    = yield(:headerinfo)
    
        %article
          
            %aside.flash
                -if flash[:error]
                    .error= flash[:error]
                -if flash[:notice]
                    .notice= flash[:notice]
                    
            = yield(:content)

    %footer
        %section.central
            An <a href="http://nhshackday.com/">NHS Hack Day</a> production.